.no-close .ui-dialog-titlebar-close {
  display: none;
}

.center-element {
    margin-left: auto;
    margin-right: auto;
}

.table-invoice {
    width: 1000px;
}

.cell-invoice {
    /* border: 1px solid black; */
    padding-left: 10px;
}

.cell-invoice-bill-to {
    width: 250px;
    text-align: left;
}

.cell-invoice-small-info {
    width: 15%;
    text-align: center;
}

.cell-invoice-title {
    border: 1px solid black;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 10px;
    height: 10px;
    background-color: lightgray;
    font-weight: bold;
}

.cell-invoice-info-body {
    border: 1px solid black;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 10px;
    height: 40px;
}
